<!-- <!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <section id ="course">
        <div class="container-md">

        </div>
    </section>



    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Topic Name</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->

<h1>Course Details</h1>
    <h2>{{ course.course_code }} - {{ course.course_name }}</h2>
    
    <h3>Topics</h3>
    <ul>
        {% for topic in course.topics %}
            <li>
                <strong>{{ topic.name }}</strong>
                <ul>
                    {% for subtopic in topic.subtopics %}
                        <li>{{ subtopic }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>